body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

header h1 {
    margin: 0;
    padding-left: 10px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #ccc;
    margin: 20px;
    max-width: 600px;
    overflow: hidden;
    width: 100%;
}

.card-header {
    background-color: #333;
    color: #fff;
    text-align: center;
}

.card-img-top {
    width: 100%;
}

.card-body {
    padding: 20px;
}

.card-footer {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.right {
    padding: 20px;
    width: 200px;
    position: fixed;
    top: 0;
    right: 0;
}

h5 {
    margin: 0;
    background-color: #f2f2f2;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #ccc;
    margin-top: 10px;
    padding: 10px;
}

.delete {
    background-color: #f44336;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-size: 10px;
    margin-left: 10px;
    padding: 2px 5px;
}


button {
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 20px;
}

.btn-danger {
    background-color: #f44336;
}

.btn-success {
    background-color: #4caf50;
}

@media only screen and (max-width: 600px) {
    .card {
        width: 90%;
    }

    .right {
        width: 100%;
        position: relative;
        top: inherit;
        right: inherit;
    }
}


.intro {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.toDoMeal {
    cursor: pointer;
    padding: 10px;
    margin-bottom: 10px;
    background-color: lightgray;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.toDoMeal:hover {
    background-color: #f2f2f2;
}

.toDoMeal .delete {
    float: right;
    cursor: pointer;
    padding: 0 10px;
}

svg {
    border-right: 25px;
}