body {
    background-color: #e9ecef;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #343a40;
}

header {
    background-color: #007bff;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.25rem;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    padding: 0 1.25rem;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    margin: 1.25rem;
    max-width: 600px;
    width: 100%;
}

.card-header {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    font-size: 1.25rem;
    font-weight: bold;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 1.25rem;
}

.card-footer {
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
}

.quantity {
    background-color: red;
    border-radius: 50%;
    color: white;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    position: absolute;
    top: 15%;
    right: 10px;
}

@media (max-width: 576px) {
    header {
        padding: 0.75rem 1rem;
    }
    
    .card-header {
        font-size: 1rem;
        padding: 0.75rem 0;
    }
    
    .card-body {
        padding: 1rem;
    }

    .card-footer {
        padding: 0.75rem;
    }

    .quantity {
        top: 10%;
        right: 5px;
    }
}
