* {
    box-sizing: border-box;
  }
  
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    min-height: 100vh;
}

h5{
    text-decoration: underline;
}

#ingredients {
    text-decoration: underline;
}


.intro {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


.card {
    width: 30rem;
}

.card-body {
    background-color: beige;
}

.card-footer {
    background: lightgray;
}

.card-body > p ul {
    display: inline;

}

.right {
   position: fixed;
   top: 0;
   right: 0;
}



